<div id="submissionBox">
  <div id="submissionList">
    <% @submissions.each do |submission| %>
      <%= render partial: "card", locals: { submission: submission} %>
    <% end %>
  </div>

  <div id="submissionOverview">
  </div>
</div>
