#submissionBox {
  @extend .row;

  #submissionList {
    @extend .col-sm-4;
    @include independent-scroll;
    left: 0;
    padding: 0;
    border-right: 1px solid #efefef;
    background-color: #fcfcfc;
    .panel {
      margin-bottom: 10px;
      border-radius: 0;
      .panel-heading {
        border-radius: 0;
        span.ping-ball {
          float: right;
          margin: 2px;
        }
        span.timestamp {
          float: right;
          margin-right: 15px;
        }
        .submission-details {
          margin-top: 10px;
        }
      }
      .panel-body {
        display: none;
        background-color: #f9f2f4;
        code { padding: 0 }
      }
    }
  }

  #submissionOverview {
    @extend .col-sm-8;
    @include independent-scroll;
    right: 0;
    padding-top: 10px;
    background-color: #ffe0e0;
  }
}
